pipeline/GenerateNewVaultTables.json
{
	"name": "GenerateNewVaultTables",
	"properties": {
		"activities": [
			{
				"name": "GetVaultTableSQL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT TableId, VaultTableSQL\nFROM dbo.fn_GetVaultTableSQL()",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureDVEngineDB",
						"type": "DatasetReference",
						"parameters": {
							"TableSchema": "dbo",
							"TableName": "Tables"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachVaultTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetVaultTableSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetVaultTableSQL').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ExecuteCreateTable",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "azuredv-WorkspaceDefaultSqlServer",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "azuredvsdp"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "@item().VaultTableSQL",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Stage2"
		},
		"annotations": []
	}
}