pipeline/TEST_JSON_Import.json
{
	"name": "TEST_JSON_Import",
	"properties": {
		"activities": [
			{
				"name": "GetJSONFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "MarvelSearchJSON",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "ImportEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetJSONFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetJSONFiles').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "InsertFromJsonFile",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureDVEngineDB_LS",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "INSERT INTO stage1.marvel_json_raw\nSELECT BulkColumn\nFROM OPENROWSET (\n    BULK 'Data/marvel_search/@{item().name}',\n    DATA_SOURCE = 'ADV_EDS',\n    SINGLE_CLOB\n) AS J\n",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [
			"JSON_Import"
		]
	}
}